docs/.idea/
docs/*.iml
docs/*.iws
docs/*.eml
docs/out/
docs/.DS_Store
docs/.svn
docs/log/*.log
docs/tmp/**
docs/node_modules/
docs/.sass-cache
docs/css/reveal.min.css
docs/js/reveal.min.js
docs/bower.json
docs/Gruntfile.js
# docs/LICENSE
docs/package.json
docs/test/
docs/.travis.yml
